* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #313131;
}

button {
    border-radius: 5px;
    background-color: rgb(253, 239, 199, 0);
    border: #f07031 solid 2px;
    color: rgb(253, 239, 199);
    transition: 0.2s;
    width: 150px;
    height: 25px;
    font-size: 15px;
    outline: none;
    margin: 1px;
}

button:hover {
    background-color: #f07031;
}

input {
    outline: none;
}

.d1 {
    display: flex;
    color: white;
    margin: 5px;
}

.settings {
    display: flex;
    align-items: flex-start;
    margin: 5px;
    flex-wrap: wrap;
}

.set {
    border: solid 3px;
    border-color: rgba(253, 239, 199, 0.5);
    border-radius: 5px;
    margin: 5px;
}

.textSettings,
.configSettings {
    width: 30px;
    height: 20px;
    background-color: #313131;
    border: 2px solid #f07031;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-left: 5px;
}

.configSettings {
    width: 50px;
}

.checkSet {
    background-color: #f07031;
    margin-top: 3px;
}

h4 {
    margin: 0;
    padding: 0;
}

.fl {
    position: relative;
}

.fll {
    position: absolute;
}

.openButton {
    color: rgb(30, 30, 30);
    background-color: rgb(253, 239, 199);

    user-select: none;
    text-decoration: none;
    outline: none;

    margin: 5px;
    width: 50px;
    height: 50px;

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(253, 239, 199);

    position: relative;
    z-index: 5;
}

.openButton:hover {
    background-color: rgb(253, 239, 199);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(49, 49, 49, 0.7);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    margin-left: 50px;
    font-size: 20px;
}

.closebtn {
    color: rgb(30, 30, 30);
    background-color: rgb(253, 239, 199);

    user-select: none;
    text-decoration: none;
    outline: none;

    margin: 5px;
    width: 50px;
    height: 50px;

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(253, 239, 199);
}

.closebtn:hover {
    background-color: rgb(253, 239, 199);
}

#main {
    transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
