* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #313131;
}

.d1 {
    display: flex;
    color: white;
    margin: 5px;
}

.settings {
    height: 300px;
    width: 400px;
}

.textSettings,
.configSettings {
    width: 30px;
    background-color: #313131;
    border: 2px solid #f07031;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.configSettings {
    width: 50px;
}

.checkSet {
    background-color: #f07031;
    margin-top: 3px;
}

h4 {
    margin: 0;
    padding: 0;
}

.fl {
    position: relative;
}

.fll {
    position: absolute;
}

.openButton {
    color: rgb(30, 30, 30);
    background-color: rgb(253, 239, 199);

    user-select: none;
    text-decoration: none;
    outline: none;

    margin: 5px;
    width: 50px;
    height: 50px;

    border: 5px solid;
    border-radius: 5px;
    border-color: rgb(253, 239, 199);

    position: relative;
    z-index: 5;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(49, 49, 49, 0.7); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left 0.5s;
    /* padding: 20px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
